*{
    box-sizing: border-box;
}
body{
    margin: 1%;
}
.flexx{
    flex-wrap: nowrap;
    background-color: burlywood;
    display: flex;
    flex-direction: row;
    padding: 1% 1.5%;
    margin: 1%;
    border-radius: 10px;
    height: fit-content;
}
img{
    border-radius: 10px;
}
h2{
    font-family: 'Fredoka One', cursive;
    color: rgb(10, 51, 51);
}
h3{
    font-family: 'Fredoka One', cursive;
    color: rgb(13, 73, 73);
}
.a1{
    padding: 1% 2%;
}
h1{
    padding: 1% 0.75%;
    background-color: rgb(12, 58, 58);
    color: burlywood;
    font-family: 'Permanent Marker', cursive;
    border-radius: 10px;
    text-align: center;
}
#font{
    font-size: 40px;
    display: flex;
    justify-content: center;
}
#font :hover{
    cursor: pointer;
}